# This is the configure file of siAgent.
# Time: 20170103
# Author: liyao.miao@yeepay.com

# The script siAgent will execute
script ./helloworld.sh

# The length of waiting Job queue
waitQueue 10

# The length of iris queue
irisQueue 10

# The expire time(seconds) of every job. The go routine will be killed mandatorily if it's running time exceeds this time. 
expire 10

